body {
  display: block;
  margin: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #E9EBEE;
  font-family: Arial;
}
#pointer {
  cursor: pointer;
}
							/* Navigation */
nav {
  list-style-type: none;
  overflow: auto;
	position: fixed;
	width: 100%;
	background: linear-gradient(to right, #0E2124 50%, #56D9E8 100%);
	top: 0px;
}
#fLeft {
  float: left;
}
#fRight {
	float: right;
}
#fCenter {
	display: block;
  margin-left: 50%;
  margin-right: 50%;
	height: 46px;
	width: 46px;
}
li .hover {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.hover:hover {
  background-color: #111111;
}
.hover {
	background-color: none;
}
#homenav {
  background-color: #56D9E8;
}
#home {
	display: block;
}
#hot {
	display: none;
}
#new {
	display: none;
}
#following {
	display: none;
}
								/*Mobile Navigation*/
.mobilenav {
  height: 40%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 42px;
  left: 0;
  background: linear-gradient(to bottom, #56D9E8, #0E2124);
  overflow-x: hidden;
  transition: 0.5s;
	padding-top: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mobilenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.mobilenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#nav {
	text-decoration: none;
	color: white;
  display: none;
  text-align: center;
	padding: 7px;
	font-size: 130%;
	cursor: pointer;
}
								/*End Mobile Navigation */
							/*End Navigation */

              /* Prep For Login/Signup Form */
input[type=text], input[type=password] {
	width: 95%;
	border-radius: 5px;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Arial;
	outline: none;
}

              /* Login/Signup Form Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
  padding-top: 100px;
}

              /* Login/Signup Form Content/Box */
.modal-content {
  background: white;
  margin: 5px auto 15px auto;
  width: 50%;
  border-radius: 5px;
}
.avatar { 
	display: block;
  margin-left: 50%;
  margin-right: 50%;
	height: 46px;
	width: 46px;
}
.loginpagetext {
	font-family: Arial;
	margin: 5px;
	padding: 5px;
	color: #327D86;
	font-weight: bold;
	float: left;
}
#forgotlink {
	margin: 5px;
	margin-right: 10px;
	padding: 5px;
	padding-bottom: 10px;
	float: right;
}
#rememberme{
	font-family: Arial;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 90%;
	padding: 10px;
	color: #327D86;
	font-weight: bold;
}
#loginbutton {
	padding: 10px;
	margin: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #56D9E8;
	border-radius: 5px;
	border: 0px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	cursor: pointer;
	font-size: 100%;
	color: white;
}
/*
#cancelbutton {
	float: left;
	padding: 10px;
	margin: 5px;
	margin-left: 5px;
	background-color: #56D9E8;
	border-radius: 5px;
	border: 0px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	cursor: pointer;
	font-size: 100%;
	color: white;
}
*/

              /* Login/Signup Form Close Button */
.close {
    display: block;
	float: right;
    font-weight: bold;
	font-size: 130%;
	font-family: Arial;
	color: #0E2124;
	margin: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

              /* Login/Signup Form Background Close Hover */
.close:hover,
.close:focus {
  color: #56D9E8;
  cursor: pointer;
  font-family: Arial;
}

              /* Login/Signup Form Background Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

							/* Posts */
#options {
	list-style: none;
}
.options{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.option{

}
#username {
	list-style-type: none;
	padding-bottom: 3px;
	font-size: 100%;
	color: #327D86;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
}
#time {
	list-style-type: none;
	padding-bottom: 3px;
	font-size: 75%;
	color: #C4C4C4;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	margin-left: 7px;
}
#userquestion {
	list-style-type: none;
	color: #327D86;
	text-decoration: none;
	font-family: Arial;
	margin-left: 27px;
}
#form {
  position: fixed;
	margin: 10px;
	padding: 10px;
	background-color: white;
	float: left;
	width: 33%;
	border-radius: 5px;
	margin-top: 54px;
}
#title {
	margin: 5px;
	padding: 10px;
	background-color: white;
	float: right;
	overflow: auto;
	width: 50%;
	border-radius: 5px;
	margin-top: 54px;
	font-size: 100%;
	color: #327D86;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
}
#poll {
	margin: 5px;
	padding: 10px;
	background-color: white;
	float: right;
	overflow: auto;
	width: 50%;
	border-radius: 5px;
	margin-top: 5px;
}
#post {
	margin: 10px;
	padding: 10px;
	background-color: white;
	max-width: 50%;
	border-radius: 5px;
	float: left;
	width: 33%;
	margin-top: 54px;
}
#question {
	border-color: transparent;
	word-wrap: break-word;
	width: 99%;
	font-family: Arial;
}
						/* End Posts */
						/* Form */
#option {
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 95%;
	font-family: Arial;
	outline: none;
}
#submit {
	float: right;
	padding: 10px;
	margin: 5px;
	margin-right: 10px;
	background-color: #56D9E8;
	border-radius: 5px;
	border: 0px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	cursor: pointer;
	font-size: 100%;
	color: white;
}
#add {
	float: left;
	padding: 10px;
	margin: 5px;
	margin-left: 0px;
	color: #327D86;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 100%;
}
textarea {
	resize: none;
	overflow: hidden;
	outline: none;
}
#formbuttons {
	width: 95%;
}
#spacer {display: none;}
#createpoll{display:none;}
						/* End Form */
						/* Mobile Re-format */
@media screen and (max-width:600px) {
	#form, #poll, #add, #submit {
		float: none;
		margin: auto;
	}
	#poll {
		margin-top: 5px;
		width: 75%;
	}
	#form {
		width: 75%;
		margin-top: 47px;
		padding-bottom: 1px;
	}
	#add, #submit {
		margin-top: 5px;
		margin-bottom: 2px;
	}
	nav {
		background: linear-gradient(to bottom, #0E2124, #56D9E8);
		display: block;
	}
	#fCenter {
		margin-left: 43%;
		margin-right: 57%;
		height: 42;
		width: 42;
	}
	#hotnav, #newnav, #followingnav, #homenav, #fRight, #title {
		display: none;
	}
	#nav {
		display: block;
		}
  .pollwindow {
    display: none;
  }
  #createpoll{
    background-color: #56D9E8;
    color: white;
    position: absolute;
    display: block;
    border: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  #spacer {display: block;}
}
